package views

templ Index() {
	@BaseLayout(PageInfo{Title: "Adon Olam Tune Generator"}) {
		<main>
			<form hx-encoding="multipart/form-data" hx-post="/api/upload" hx-swap="outerHTML">
				<input type="file" name="uploadFile"/>
				<label for="trackNo">Track Number</label>
				<input type="number" name="trackNo"/>
				<button>
					Upload
				</button>
			</form>
		</main>
	}
}
